* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/*Inicio intro-franqueado*/
section div.intro-franqueado{
    width: 100%;
    height: 100%;
    padding: 5%;
    background: #DB1D45;
}

section div.flex{
    display: flex;
}

section div.intro-text-franqueado{
    width: 50%;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
}

section div.intro-text-franqueado h2{
    color: white;
    font-size: 35px;
    line-height: 3rem;
    padding: 0 2%;
    text-align: justify;
}

section div.intro-text-franqueado p{
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
}

section div.intro-text-franqueado input[type="submit"]{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 500px;
    padding: 4px 5%;
    background-color: white;
    color: #DB1D45;
    border: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
}

section div.intro-text-franqueado input[type="submit"]:hover{
    color: black;
}

section div.intro-img-franqueado{
    background-image: url('../img/franchise.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
}
/*Fim intro-franqueado*/

/*Inicio parcerias*/
    section div.parcerias{
        width: 100%;
        height: auto;
        padding: 30px;
    }

    section div.parcerias-text{
        float: left;
        margin-right: 20px;
    }

    section div.parcerias-text p{
        font-size: 20px;
        color: #DB1D45;
        font-weight: normal;
        font-style: italic;
    }

    section div.parcerias-img ul li{
        float: left;
        padding: 5px 25px;
        list-style: none;
    }
/*Fim parcerias*/

/*Inicio qualidades*/
    section div.qualidades{
        width: 100%;
        height: 100%;
        background-image: url('../img/banner-franqueado');
        padding: 50px;
    }

    section div.banner-qualidades{
        display: flex;
        background-color: white;
        padding: 3px;
    }

    section div.banner-qualidades .premiada{
        border: 5px solid  rgba(255, 255, 255, 0.7);
        width: 25%;
    }

    section div.qualidades-text h1{
        color: #DB1D45;
        font-size: 30px;
        font-style: italic;
        padding: 10px;
        text-align: center;
        background: rgba(255, 255, 255, 0.7);
    }

    section div.qualidades-text > p{
        padding: 10px;
        color: #DB1D45;
        background: rgba(255, 255, 255, 0.7);
        font-weight: bold;
    }

    section div.premiada h4, p{
        padding: 10px 5%;
        text-align: center;
        font-size: 15px;
    }

    section div.premiada h4{
        font-size: 25px;
    }

    section div.premiada .img1{
        margin-left: 0px;
    }

    section div.premiada .img2{
        margin-left: 0px;
    }
/*Fim qualidades*/

@media screen and (max-width: 1000px){
    section div.flex{
        display: block;
    }

    section div.intro-text-franqueado{
        width: 100%;
        margin-top: 0px;
    }

    section div.intro-text-franqueado{
        width: 80%;
        text-align: left;
        padding: 0 2%;
    }

    section div.intro-text-franqueado input[type="submit"]{
        margin-bottom: 20px;
        margin-right: 0px;
        padding: 4px 5%;
        font-size: 20px;
    }
    
    div.intro-img-franqueado{
        display: none;
    }

    section div.parcerias-text{
        margin-right: 20px;
    }

    section div.parcerias-text p{
        text-align: center;
        margin-left: 70px;
    }

    section div.parcerias-img{
        margin-left: 30%;
    }

    section div.banner-qualidades{
        display: none;
    }
}