* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/*Inicio produto*/
section .produto{
    width: 100%;
	height: 100%;
	padding-bottom: 20px;
	background-image: url('../img/banner3.jpg');
}

section .produto-menu{
    text-align: center;
    padding: 10px;
}

section .produto-menu h1{
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    padding: 10px;
	color: black;
	font-weight: bold;
}

section .produto-menu ul li{
    font-size: 20px;
    list-style: none;
    display: inline;
    padding: 20px;
    cursor: pointer;
    color: black;
}

section .produto-menu ul li:hover{
    color: #DB1D45;
}
/*Fim produto*/

/*Inicio banner-produtos*/
section.produto-img{
	padding:0px 2%;
	height: auto;
}

.content-produto{
	margin-top:40px;
}

.sidebar{
	float: left;
	width: 30%;
}

.search2{
	margin-top:40px;
}

.search2 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.form-bolo-wraper{
	margin-top:10px;
	transition: 4s;
}

.form-bolo-wraper input[type=checkbox]{
	display: none;
}

.form-bolo-wraper label{
	width: 20px;
	height: 20px;
	display: inline-block;
	border:1px solid #DB1D45;
	border-radius: 3px;
	vertical-align: top;
	cursor: pointer;
	position: relative;
}


.circle{
	width: 8px;
	height: 8px;
	display: none;
	border-radius: 4px;
	background:#DB1D45;
	position: absolute;
	left: 5px;
	top: 5px;
}


.form-bolo-wraper input[type=checkbox]:checked + label > .circle{
	display: block;
}

.form-bolo-wraper span{
	color: #DB1D45;
	padding:0 10px;
	display: inline-block;
	vertical-align: top;
}

.vitrine-bolo{
	float: left;
	width: 70%;
}

.vitrine-bolo .vitrine-destaque{
	margin-top:20px;
}


.vitrine-destaque{
	float: left;
	width: 33.3%;
	text-align: left;
	transition: 4s;
}

.vitrine-destaque .bolo-img{
	width: 250px;
	height: 250px;
    padding-top: 100%;
	padding-left: 20px;
	border:30px solid rgb(200,200,200);
	border-style: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.vitrine-destaque h2{
    padding-bottom: 10px;
	color: black;
	font-style: italic;
    font-size: 20px;
    margin-left: 5px;
}

.btn1{
	text-align: center;
	display: block;
    line-height: 30px;
	margin-left: 5px;
	padding: 0 2%;
	background-color: #DB1D45;
	text-decoration: none;
	border-bottom: 5px solid white;
	color: white;
	font-size: 13px;
	font-style: italic;
	width: 120px;
}

.btn1:hover{
	color: black;
}
/*Fim banner-produtos*/

@media screen and (max-width: 1100px){
    header {
        width: 100%;
		height: auto;
		max-width: 90vh;
        min-height: 90vh;
        padding: 40px 2%;
	}

	.vitrine-bolo .vitrine-destaque{
		margin-top:0px;
	}

	section div.sidebar{
		display: none;
	}

	section .produto-menu ul li{
		font-size: 15px;
		padding: 10px;
	}

	.vitrine-bolo{
		float: none;
		width: 100%;
	}

	.vitrine-destaque{
		width: 100%;
	}

	section div.vitrine-destaque{
		text-align: center;
	}

	.btn1{
		margin-left: 33%;
	}
}