* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.menu-mobile{
    display: none;
}

.nav-mobile{
    display: none;
}

.bemVindo{
    display: none;
}

div.menu-desktop{
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 0 5%;
    position: fixed;
}

nav.nav-desktop{
    float: right;
    position: relative;
    top: 40px;
}

nav.nav-desktop ul li{
    float: left;
    padding: 0 15px;
    list-style-type: none;
}

nav.nav-desktop ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.nav-desktop ul li a:hover{
    color: #DB1D45;
}

div.banner{
    height: 15%;
}

/*Começo intro*/

section .intro{
    height: 100%;
    width: 100%;
    background: #DB1D45;
}

section div.flex{
    display: flex;
}

section div.intro-text{
    width: 50%;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}

section div.intro-text h2{
    color: white;
    font-size: 45px;
    line-height: 3rem;
    padding: 0 2%;
    font-style: italic;
}

section div.intro-text p{
    color: white;
    padding: 15px;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}

section div.intro-text input[type="submit"]{
    margin-top: 20px;
    padding: 4px 5%;
    background-color: white;
    color:#DB1D45;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 7px;
    font-weight: bold;
}

section div.intro-text input[type="submit"]:hover{
    color: black;
}

section div.intro-img{
    margin-top: 30px;
}

/*Fim intro*/

/*Começo intro-prod*/
section .intro-prod{
    width: 100%;
    height: 100%;
    background-color: white;
}

.intro-prod-img{
    padding: 0 2%;
}

section .intro-prod .container{
    height: auto;
    margin-top: 100px;
}

section div.intro-prod-text{
    width: 50%;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

section div.intro-prod-text h2{
    color: black;
    padding: 0 2%;
    font-size: 30px;
    text-align: left;
    
}

section div.intro-prod-text p{
    color: black;
    text-align: left;
    padding: 10px 2%;
}

section div.intro-prod-text input[type=submit]{
    margin-top: 20px;
    padding: 4px 5%;
    background-color:  #DB1D45;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 270px;
    text-transform: uppercase;
}

section div.intro-prod-text input[type=submit]:hover{
    color: black;
}
/*Fim intro-prod*/

/*Comçeo intro-lancamento*/

section .intro-lancamento{
    height: 100%;
    width: 100%;
    background-color: #DB1D45;
}

section .intro-lancamento-text{
    width: 50%;
    padding: 5%;
    margin-top: 40px;
}

section .intro-lancamento-text h2{
    color: white;
    padding: 0 2%;
    text-align: left;
    font-style: italic;
    font-size: 23px;
}

section .intro-lancamento-text p{
    margin-top: 30px;
    padding: 0 2%;
    color: white;
    font-style: italic;
    font-size: 17px;
    text-align: justify;
}

section .intro-lancamento-text input[type=submit]{
    padding: 7px 15%;
    margin-top: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    background-color: white;
    color: #DB1D45;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

section .intro-lancamento-text input[type=submit]:hover{
    color: black;
}

section .intro-lancamento-img{
    margin-top: 50px;
}
/*Fim intro-lancamento*/

/*Começo intro-franqueado*/
section .intro-franqueado{
    width: 100%;
    height: 100%;
    background-color: white;
}

section .intro-franqueado-img{
    width: 50%;
    padding: 0 2%;
    margin-top: 30px;
    margin-left: 70px;
}

section .intro-franqueado-text p{
    margin-top: 150px;
    margin-left: 40px;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: normal;
}

section .intro-franqueado-text input[type=submit]{
    padding: 7px 15%;
    margin-top: 20px;
    margin-left: 40px;
    text-transform: uppercase;
    background-color: #DB1D45;
    color: white;
    border: none;
    cursor: pointer;
}

section .intro-franqueado-text input[type=submit]:hover{
    color: black;
}
/*Fim intro-franqueado*/

/*Começo footer*/
footer .intro-footer{
    width: 100%;
    height: 60px;
    background-color: #DB1D45;
}

footer .footer-text p{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-weight: normal;
    font-style: italic;
}

/*Fim footer*/

/*Inicio das Media Query*/
@media screen and (max-width: 1200px){
    nav.nav-desktop ul li a{
        font-size: 15px;
    }

    div.menu-mobile{
        display: block;
    }
}


@media screen and (max-width: 1100px){
    header {
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
    }

    div.menu-mobile{
        width: 100%;
        height: auto;
        padding: 10px 5%;
        background: #DB1D45;
    }

    div.banner{
        display: none;
    }

    .menu-desktop{
        display: none;
    }

    section div.intro{
        height: 400px;
    }

    nav.nav-mobile{
        display: block;
        cursor: pointer;
        width: 32px;
        height: 32px;
        padding: 20px;
        margin: 20px;
        background-image: url('../img/menu-button.png');
        background-size: 100% 100%;
    }

    /* nav.nav-mobile:hover ul{
        opacity: 1;
    } */

    nav.nav-mobile ul{
        display: none;
        background-color: white;
        position: absolute;
        width: 100%;
        left: 0;
        top: 80px;
        list-style-type: none;
        text-align: center;
        z-index: 998;
    }

    nav.nav-mobile ul li{
        padding: 8px 0;
        transition: 0.4s;
        border-bottom: 1px solid black;
    }

    nav.nav-mobile ul li a{
        color: black;
        text-decoration: none;
    }

    nav.nav-mobile ul li a:hover{
        color: #DB1D45;
    }

    section div.intro-text{
        padding: 2%;
    }

    section div.intro-prod{
        margin-top: -40px;
    }

    section div.intro-prod-text input[type=submit]{
        margin-right: 0px;
    }

    section .intro-franqueado-img{
        margin-left: 0px;
    }

    .bemVindo{
        display: block;
    }

    section div.intro-text h1{
        padding: 3%;
        font-size: 20px;
        color: white;
        font-style: italic;
    }
}

@media screen and (max-width: 1000px){
    section div.flex{
        display: block;
    }

    div.intro-img{
        display: none;
    }

    div.intro-prod-img{
        display: none;
    }

    div.intro-lancamento-img{
        display: none;
    }

    div.intro-franqueado-img{
        display: none;
    }

    section div.intro-text{
        width: 100%;
        text-align: center;
        padding-top: 0;
    }

    section div.intro-prod-text{
        width: 100%;
        text-align: center;
        padding: 0 2%;
    }

    section div.intro-lancamento-text{
        width: 100%;
        text-align: center;
        padding: 8% 5%;
    }

    section div.intro-franqueado-text{
        width: 100%;
        text-align: center;
        padding: 3% 2%;
        margin: 0;
    }

    section .intro-franqueado-text p{
        margin-top: 0px;
        margin-left: 0px;
        font-size: 30px;
        font-style: italic;
        text-transform: uppercase;
        font-weight: normal;
    }

    section .intro-franqueado-text input[type=submit]{
        margin-left: 0px;
    }
}